# Залежності
node_modules/
dist/
build/

# Скомпільовані та мінімізовані файли
**/*.min.js
**/*.bundle.js

# Конфігураційні файли збирача
webpack.config.js
vite.config.js
rollup.config.js

# Тестові звіти та покриття
coverage/
.nyc_output/

# Кеш та тимчасові файли
.eslintcache
.cache/
tmp/

# Сторонні бібліотеки, які не слід перевіряти
public/vendor/
src/lib/third-party/
